.number-ranking
{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid gray 1px;
    padding: 0.3rem;
    color:gray
}

.top-backgroud
{
    background: #1C1C1C;
    padding: 0.4rem;
    border-radius: 25px;
}