<div>
    <h1>Is it legal to watch anime on Animea ?</h1>
    <p>Yes Its legal, we dont host any video or images, we just link to them.</p>
</div>
<div>
    <h1>I cannot find my favorite anime, what can i do ?</h1>
    <p>Go to the contact-us page and make a ticket, we will fix it as soon as possible.</p>
</div>
<div>
    <h1>I found a bug, what can i do ?</h1>
    <p>Go to the contact-us page and make a ticket with your anime name.</p>
</div>
<div>
    <h1>You want to help our website ?</h1>
    <p>contact animea_official@animea.xyz</p>
</div>
