<app-filter  [isQuickFilter]="false" (apiCallChanged)="apiCallChange($event)"> </app-filter>
<h3 style="color: white; margin-top: 3rem;">Animes Results</h3>
<div>
    <div class="row row-cols-5 row-cols-md-5 row-cols-sm-1 mt-2 mb-2 card-container ">
        <div class="card-container" *ngFor="
        let anime of animes">
              <button class="card" (click)="goToAnime(anime)">
                <img
                  src="{{anime.images.webp.image_url}}"
                  class="card-img-top "
                  style="text-align: center;"
                />
                <div class="card-body">
                  <h5 class="card-title">{{anime.title.slice(0,20)}}</h5>
                </div>
              </button>
            </div> 
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item " (click)=" onClickChangePage(-1)"><a class="page-link change-page" style="color: white;" ><fa-icon [icon]="faAngleLeft"></fa-icon></a></li>
    <li class="page-item " (click)=" onClickChangePage(1)"><a class="page-link change-page" style="color: white;" ><fa-icon [icon]="faAngleRight"></fa-icon></a></li>
  </ul>
</nav>
