.card{
    background-color:  #14213d;
    width: 10rem;
    height: 17rem;
    margin-top: 1rem;
    padding: 1rem;
}
.card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1rem;
}
.card-title:hover{
    color: #fca311;
}
.card-css:hover{
    color: #fca311;
}
.card:hover h5{
    color: #fca311;
}
.card-img-top {
    height: 15rem;
    width: 10rem;
}
.card-container{
    margin: auto;
}
.card-body{
    width: 8rem;
    text-align: center;
}
.change-page{
    margin-top: 1rem;
}
.change-page:hover{
    cursor: pointer;
    background-color: #14213d !important;
    color: #fca311 !important;
}
.image-top{
    max-height: 10rem;
    max-width: 8rem;
}