<div class="animeInformations" *ngIf="animeInfo">
  <div class="flex-row description-card"><img class="card-img-sm-left description-card-img" style="max-width: 10rem; max-height:15rem" src="{{animeInfo.image}}"/>
        <div class="card-body">
          <h4 class="card-title h5 h4-sm">{{animeInfo.title}}</h4>
          <p class="card-text">{{animeInfo.summary.slice(0,700) + " ..."}}</p>
        </div>
      </div>
  <h1 style="text-align: center; color: black; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{animeInfo.title +" Episode "+episode}}</h1>
</div>
<iframe class="frame" [src]="safeSrc | safe" width="100%" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen *ngIf="safeSrc">
</iframe>
<div *ngIf="animeInfo">
      <app-episodes [totalEpisodes] = "animeInfo.totalepisode" [current] = "episode" (PageEmiter)="changerEpisode($event)"></app-episodes>
</div>
<app-comments [animeId]="animeId"></app-comments>
  