.description-card{
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:  #14213d;
    background-clip: border-box;
    margin-bottom: 2rem;
}
.css-spiner{
    width: 5rem; 
    height: 5rem; 
    margin-top: 12rem;
}
.description-card-img{
    border-radius: 10px;
    margin: 1%;
    float: left;
}
.card-title{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}
.card-text{
    font-size: 0.8rem;
    color: #bdbcbc;
    text-align:justify;
    margin-left: 0.5rem;
}

@media (max-width: 575px) { 
    .frame{
        height: 18rem;
    }
    .css-spiner{
        width: 3rem; 
        height: 3rem; 
        margin-top: 7rem;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    .frame{
        height: 19rem;
    }
    .css-spiner{
        width: 5rem; 
        height: 5rem; 
        margin-top: 2rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    .frame{
        height: 26rem;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    .frame{
        height: 34rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1400px) { 
    .frame{
        height: 27rem;
    }
 }
 @media (min-width: 1401px) { 
    .frame{
        height: 31rem;
    }
 }
 .button-css{
     margin-top: 0.2rem;
     width: 10rem;
     padding: 0.2rem;
     border-radius: 5px;
     border: 1px solid black;
     background-color: #fca311; 
     text-transform:uppercase;
     font-size: medium;
     color: black;
 }
 .button-css:hover{
     background-color: #e5e5e5;
 }

 .frame-before
 {
    background-image: url("https://external-preview.redd.it/2SRhl749JDfaJWRcZ39oVm0Jl3sHQ1w6ROlBHTfioOw.jpg?blur=40&format=pjpg&auto=webp&s=b12b489bb757d942b7dd9298db873cc3f7e66a7a");
    background-size: cover;
    opacity: 60%;
 }
 

     



