<nav class=" navbar d-flex  navbar-css" >
    <div class="container-fluid-a">
      <button (click)="onClickDropped()"
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <span class="dropdown-content-home" [hidden]="!isDropped" (click)="onClickDropped()" >
        <div class="navbar-nav">
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['']">Home</a>
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['/populars']">Popular Anime</a>
          <a class="nav-link active search-css" aria-current="page" (click)="goRandomAnime()">Random Anime <div [hidden]="!isRandom" class="spinner-border text-warning" style="width: 0.8rem; height: 0.8rem; margin-left: 0.2rem;" he role="status">
            <span class="visually-hidden">Loading...</span>
          </div></a>
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['season/on-going']">Ongoing Anime</a>
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['season/up-coming']">Upcoming Anime</a>
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['/contact-us']">Contact Us</a>
          <a class="nav-link active search-css" aria-current="page" [routerLink]="['/faq']">FAQ</a>
        </div>
        </span>
     
      <a class="navbar-brand"  [routerLink]="['']"><img class="logo" src="../../assets/images/Animea_logo.png"></a>
      <div class="container-social">
        <div class="d-inline-block ">
            <a class="btn btn-primary social" style="background-color: #55acee;" href="https://twitter.com/AnimeaOfficial" role="button"
            ><i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="d-inline-block "><a class="btn btn-primary social" style="background-color: #ac2bac;" href="https://www.instagram.com/officialanimea/" role="button"
            ><i class="fab fa-instagram"></i
          ></a></div>
        <div class="d-inline-block "><a class="btn btn-primary social" style="background-color: #ff4500;" href="https://www.reddit.com/user/animeaofficial?utm_source=share&utm_medium=ios_app&utm_name=iossmf" role="button"
            ><i class="fab fa-reddit-alien"></i
          ></a></div>
        <div class="d-inline-block "><a class="btn btn-primary social" style="background-color: #333333;" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a></div>
    </div>
    </div>
    <div class="d-flex">
      <div class="d-flex position-container ">
        <form class="input-group position">
          <input 
            class="form-control  placeholder-css"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            (input)="onKeyPress($event)"
            [value]="searchFilter"
          />
          <div class="search-drop-down" >
               <div *ngFor="let anime of animesResults;" class="elementDropDown" (click)="goToAnime(anime)">
                 <img class="navbar-image" src="{{anime.animeImg}}" width="50px" height="75px">
                {{anime.animeTitle}}
               </div>
          </div>
        </form>
          <span class=" button-css" id="search-addon" (click)="dropSearchBar()">
            <i class="fas fa-search"></i>
          </span>
      </div>
      <div class="d-flex position-container "> 

        <button class="connexion-button" (click)="openModalConnexion()"  *ngIf="!islogged">Sign In</button>

        <button class="connexion-button" (click)="onClickDroppedConnexion()" *ngIf="islogged">{{username.slice(0,11)}}</button>

        <span class="dropdown-content-button" [hidden]="!isDroppedConnexion" hidden="true"  *ngIf="islogged">
          <div class="navbar-nav">
            <a class="nav-link search-css"   *ngIf="islogged" [routerLink]="['/profil']" >User Setting</a>
            <a class="nav-link search-css"   *ngIf="islogged" (click)="logout()">Logout</a>
          </div>
          </span>
      </div>
    </div>
        <!--<div class="collapse navbar-collapse container-link" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active search-css-a" aria-current="page" href="#">Home</a>
            <a class="nav-link search-css-a"   [routerLink]="['/login']" *ngIf="!islogged">Login</a>
            <a class="nav-link search-css-a"   [routerLink]="['/register']" *ngIf="!islogged">Register</a>
            <a class="nav-link search-css-a"   *ngIf="islogged">{{username}}</a>
            <a class="nav-link search-css-a"   *ngIf="islogged" (click)="logout()">Logout</a>
          </div>
        </div>
      -->
    
  </nav>
  <span [hidden]="!isDroppedSearch">
    <form  class="dropdown-content-bar">
      <input 
        class="form-control  placeholder-css"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        (input)="onKeyPress($event)"
        [value]="searchFilter"
      />
      <div class="search-drop-down-little" >
           <div *ngFor="let anime of animesResults;" class="elementDropDown" (click)="goToAnime(anime)">
             <img class="navbar-image" src="{{anime.animeImg}}" width="50px" height="75px">
            {{anime.animeTitle.slice(0,25)+"..."}}
           </div>
      </div>
    </form>
  </span> 
  