.search-drop-down {
    position: absolute;
    width: 14rem;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-top: 3rem;
    border: 1px solid black;
    border: none;
}
.search-drop-down::-webkit-scrollbar{
    display: none;
}

.elementDropDown
{
    color: black;
    cursor:pointer;
}

.elementDropDown:hover
{
    color: black;
    background-color: #fca311;
}
.navbar-image{
    margin: 0.5rem;
    width: 3rem;
    border-radius: 0.5rem;
}
.container-link{
    justify-content:right;
}

.container-link a:hover{
    color: #e5e5e5;  
}
.placeholder-css:focus{
    border: 1px solid #fca311;
    outline: none !important;
    box-shadow: 0 0 5px #fca311;
}
.search-css{
    cursor:pointer;
}
.search-css i:hover{
    color: black;
}
.navbar-css{
    background-color: #14213d;
    border-radius: 10px;
}
.navbar-css a {
    color: white;
}
.fa-bars{
    color: white;
}
.navbar-toggler:hover .fa-bars {
    color: #fca311;
}
.navbar-toggler{
justify-content: start;
margin-left: 0.5rem; 
}

 @media screen and (max-width: 875px) { 
    .position {
        width: 8rem !important;
    }
}
@media screen and (max-width: 550px) { 
   .position {
       display: none;
   }
   .button-css{
       border-radius: 5px !important;
   }

}

.dropdown-content-home{
    position: absolute;
    margin-top: 2.5rem;
    width: 10rem;
    max-height: 90rem;
    z-index: 10;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    border-radius: 5px;
    -ms-overflow-style: none;
    background-color: white;
    margin-left: 1rem;
    text-align: center;
  }
  .dropdown-content-button{
    position: absolute;
    margin-top: 3rem;
    width: 6.5rem;
    max-height: 90rem;
    z-index: 10;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    border-radius: 5px;
    -ms-overflow-style: none;
    background-color: white;
    text-align: center;
  } 
  .search-css:hover{
      cursor: pointer;
      background-color: #fca311; 
      border-radius: 5px;
  }
  .search-css:hover{
    color: black !important;

  }
  .search-css{
      margin-top: 0.01rem;
      color: black !important;
  }
.position{
    width: 13rem;
}

.button-css:hover{
    background-color: #e5e5e5;
    cursor: pointer;
    color: black;
}
.button-css{
    height: 2.5rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fca311;
    color:black;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
}
.placeholder-css{
    height: 2.5rem;
}
.container-fluid-a{
    display: flex;
}
.connexion-button{ 
    width: fit-content;
    padding-top: 0.4rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fca311;
    color: black;
    border-radius: 5px;
    font-weight:500;
    font-size: 1rem;
    margin-right: 1rem;
    height: 2.5rem;
    border: none;
    text-transform: capitalize;
}

.connexion-button:hover{
    cursor: pointer;
    background-color: #e5e5e5;
    color: black;
}
.position-container .dropdown-content-button{
    margin-right: 4rem;
}
.container-social{
    margin-top: 0.7rem;
}
.social{
    margin-left: 0.5rem;
}
.social:hover{
  background-color: #e5e5e5 !important;
  color: black !important;
}
@media (max-width: 850px) {
    .container-social{
        display: none;
    }
}
.logo{
    width: 8rem;
    height: 3rem;
}
@media(max-width: 400px) { 
    .logo{
        width: 4rem;
        height: 2rem;
    }
    .button-css{
        width: 1rem;
        padding: none;
        background-color: #14213d;
        color: white;
    }
    .button-css:hover{
        color: #fca311;
        background-color:#14213d ;
    }
}