.search-drop-down {
    position: absolute;
    width: 150%;
    max-height: 300px;
    margin-top: 3rem;
    overflow-y: auto;
    z-index: 10;
    background-color: #1C1C1C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    border-radius: 10px;
    -ms-overflow-style: none;
}
.search-drop-down::-webkit-scrollbar{
    display: none;
}

.elementDropDown
{
    color: rgb(173, 170, 170);
    cursor:pointer;
}

.elementDropDown:hover
{
    color: white;
    background-color: gray;
}
.navbar-image{
    margin: 0.5rem;
    width: 3rem;
    border-radius: 0.5rem;
}
.container-link{
    justify-content:right;
}
.container-link a:hover{
    color: red;
}
.placeholder-css:focus{
    border: 1px solid red;
    outline: none !important;
    box-shadow: 0 0 10px red;
}
.search-css{
    cursor:pointer;
}
.search-css i:hover{
    color: red;
}
.navbar-css{
    background-color: #0e0e0e;
}
.navbar-css a {
    color: white;
}
.fa-bars{
    color: white;
}
.navbar-toggler{
justify-content: start;
}
@media (max-width: 991px) {
    .container-fluid{
        justify-content: left;
    }
}
.dropdown-content-years-full{
    position: absolute;
    margin-top: 13rem;
    width: 20rem;
    max-height: 90rem;
    z-index: 10;
    background-color: #1C1C1C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    border-radius: 10px;
    -ms-overflow-style: none;
  }