<nav class=" navbar d-flex  navbar-css">
    <div class="container-fluid-a">
      <button (click)="onClickDropped()"
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <span class="dropdown-content-home" [hidden]="!isDropped" (click)="onClickDropped()" >
        <div class="navbar-nav">
          <a class="nav-link active search-css" aria-current="page" href="#">Home</a>
          <a class="nav-link search-css"   [routerLink]="['/login']" *ngIf="!islogged">Login</a>
          <a class="nav-link search-css"   [routerLink]="['/register']" *ngIf="!islogged">Register</a>
          <a class="nav-link search-css"   *ngIf="islogged">{{username}}</a>
          <a class="nav-link search-css"   *ngIf="islogged" (click)="logout()">Logout</a>
        </div>
        </span>
    
      <a class="navbar-brand" href="#">myAnimes</a>
    </div>
    <div class="d-flex">
      <div class="d-flex position-container ">
        <form class="input-group position">
          <input 
            class="form-control  placeholder-css"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            (input)="onKeyPress($event)"
            [value]="searchFilter"
          />
          <div class="search-drop-down" >
               <div *ngFor="let anime of animesResults;" class="elementDropDown" (click)="goToAnime(anime.title)">
                 <img class="navbar-image" src="{{anime.images.webp.small_image_url}}">
                {{anime.title.slice(0,18)+"..."}}
               </div>
          </div>
          <span class=" button-css" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </form>
      </div>
      <div class="d-flex position-container ">
        <button class="connexion-button" (click)="onClickDroppedConnexion()" [routerLink]="['/login']" *ngIf="!islogged">Sign In</button>

        <button class="connexion-button" (click)="onClickDroppedConnexion()" *ngIf="islogged">{{username}}</button>

        <span class="dropdown-content-button" [hidden]="!isDroppedConnexion" hidden="true"  *ngIf="islogged">
          <div class="navbar-nav">
            <a class="nav-link search-css"   *ngIf="islogged" [routerLink]="['/profil']" >User Setting</a>
            <a class="nav-link search-css"   *ngIf="islogged" (click)="logout()">Logout</a>
          </div>
          </span>
      </div>
    </div>
        <!--<div class="collapse navbar-collapse container-link" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active search-css-a" aria-current="page" href="#">Home</a>
            <a class="nav-link search-css-a"   [routerLink]="['/login']" *ngIf="!islogged">Login</a>
            <a class="nav-link search-css-a"   [routerLink]="['/register']" *ngIf="!islogged">Register</a>
            <a class="nav-link search-css-a"   *ngIf="islogged">{{username}}</a>
            <a class="nav-link search-css-a"   *ngIf="islogged" (click)="logout()">Logout</a>
          </div>
        </div>
      -->
    
  </nav> 
  