
.episode-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.episode-button:hover{
background-color: red;
}
.tab-episode{
    text-align: center;
}
