<div class="episode-container" style="background:  #e6e6e6;" >
    <mdb-tabs  #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'" class="tab-episode" *ngIf="totalEpisodes > 100">
        <mdb-tab   title="{{label.label}}" *ngFor="
        let label of labelsEpisodes">
            <div style="background:  #14213d; height: fit-content;padding: 1.5rem; border-radius: 5px;" >
             <button *ngFor="
                let episode of label.episodes" type="button" [ngClass]="{'episode-button': episode !== current-0, 'episode-button-active': episode === current-0}" (click)="testclick(episode)">{{episode}}</button>
            </div>
        </mdb-tab>
    </mdb-tabs>
    <div  *ngIf="totalEpisodes < 100" class="tab-episode">
        <button *ngFor="
        let episode of labelsEpisodes[0].episodes" type="button" [ngClass]="{'episode-button': episode !== current-0, 'episode-button-active': episode === current-0}" (click)="testclick(episode)">{{episode}}</button>
    </div>
</div> 
  