.card{
    background-color:  #14213d;
    width: 13rem;
    height: 22rem;
    margin-top: 1rem;
    padding: 1rem;
}
.card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1rem;
}

.card-title:hover{
    color: #fca311;
}
.card-css:hover{
    color: #fca311;
}
.card:hover h5{
    color: #fca311;
}
.change-page:hover{
    cursor: pointer;
    background-color: #14213d !important;
    color: #fca311 !important;
}
.change-page{
    margin-top: 1rem;
}
.image-top{
    max-height: 15rem; 
} 
