.card{
    background-color: transparent;
}
.card-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1rem;
}
.card-title:hover{
    color: red;
}
.card-css:hover{
    color: red;
}