.card{
    margin-top: 1rem;
    padding: 1rem;
}
.change-page:hover{
    cursor: pointer;
    background-color: #14213d !important;
    color: #fca311 !important;
}
.change-page{
    margin-top: 1rem;
}
.image-top{
    max-height: 15rem; 
} 
