<div class="col-12 ">
    <h3 style="color: black; margin-top: 3rem; border-bottom: 1px solid black;">Popular Animes</h3>
      <div class="row  row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-3 row-cols-xxl-4  ">
          <div class="card-container-size d-flex justify-content-center" *ngFor="
          let anime of animes">
                <button class="card" (click)="goToAnime(anime)">
                  <img
                    src="{{anime.images.webp.image_url}}"
                    class="card-img-top image-top "
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{anime.title.slice(0,20)}}</h5>
                  </div>
                </button>
              </div>
      </div>
    </div>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center ">
      <li class="page-item " (click)="onClickChangePage(-1)"><a class="page-link change-page" style="color: black;" ><fa-icon [icon]="faAngleLeft"></fa-icon></a></li>
      <li class="page-item " (click)="onClickChangePage(1)"><a class="page-link change-page" style="color: black;" ><fa-icon [icon]="faAngleRight"></fa-icon></a></li>
    </ul>
  </nav>
 
