.divider:after,.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #fca311;
  }
  .vh-100{
      background-color:#14213d;
      width: 100%;
      height: 37rem !important;
      border-radius: 5px;
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .vh-100 label{ 
      color: white; 
  }
  .vh-100 .account a{
      color: #fca311;
  }
  .vh-100 p{
      color: white;
  }
  .vh-100 .account .have:hover{
        color: white;
        cursor: pointer;
  }
 .button-sign{
     background-color: #fca311;
     color: black;
 }
 .button-sign:hover{
     background-color: #e5e5e5;
 }
 .form-label{
    color: white !important;
 }
 .form-control{
     color: #fca311 !important;
 }
 .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-color: white !important;
 }
 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: white !important;
 }
 .form-outline .form-control:focus~.form-notch .form-notch-middle{
    border-color: white !important;
 }
 .form-outline .form-control~.form-notch .form-notch-leading {
    border-color: white !important;
 }
 .form-outline .form-control~.form-notch .form-notch-trailing {
    border-color: white !important;
 }
 .form-outline .form-control~.form-notch .form-notch-middle{
    border-color: white !important;
 }
 .button-web:hover{
    background-color: #e5e5e5 !important;
    color: black !important;
}
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  @media (min-width: 768px) and (max-width: 992px) { 
    .vh-100{
        height: 37rem !important;
    }
    .img-fluid{
        display: none;
    }
 }
 @media (max-width: 767px) { 
    .vh-100{
        height: 37rem !important;
    }
    .img-fluid{
        display: none;
    }
 }
 .btn-close{
    width: 0.5rem !important;
    height: 1rem !important;
    background-color: #fca311;
    justify-content: right;
    text-align: right;
    float: right;
    margin-top: 0.5rem;

}
.btn-close:hover{
    background-color: #e5e5e5;
}
.btn-close{
    width: 0.1rem !important;
    height: 1rem !important;
    background-color: #fca311;
}
.btn-close:hover{
    background-color: #e5e5e5;
}
.button-container{
   display: flex;
   justify-content: right;
   margin-bottom: 2rem;
}