<!--
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">UserName</label>
                            <input type="text" class="form-control" name="UserName" [(ngModel)]="userName">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="register()">Register</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Have an account ? <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
-->

<section class="vh-100">
    <div class="container py-3 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6" >
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/ddg4zhz-a857fad0-df79-4646-9453-e78ebabecb96.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg0ZGMxM2I3LWEyZTctNGI0NS04M2VjLTMxMWU3MmU4MjkwMFwvZGRnNHpoei1hODU3ZmFkMC1kZjc5LTQ2NDYtOTQ1My1lNzhlYmFiZWNiOTYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tPDGNASIqjzDQSVK5Oj3fIzSdO1osuD9BJc8EYzOVp4"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
              Close
            </button>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form1Example13" class="form-control form-control-lg active" />
              <label class="form-label" for="form1Example123">Username</label> 
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px; "></div>
                <div class="form-notch-middle" style="width: 66px; "></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="form1Example13" class="form-control form-control-lg active" />
                <label class="form-label" for="form1Example13">Email address</label>
                <div class="form-notch">
                  <div class="form-notch-leading" style="width: 9px; "></div>
                  <div class="form-notch-middle" style="width: 88.8px; "></div>
                  <div class="form-notch-trailing"></div>
                </div>
              </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form1Example23" class="form-control form-control-lg active" />
              <label class="form-label" for="form1Example23">Password</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px; "></div>
                <div class="form-notch-middle" style="width: 65px; "></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4 account">
              <a href="/login " class="have">Have an account ?</a>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block button-sign">Sign Up</button>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 " style="color: white;">OR</p>
            </div>
  
            <button class="btn btn-lg btn-block btn-primary button-web" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Sign up with Google</button>
            <a class="btn btn-primary btn-lg btn-block button-web" style="background-color: #55acee" href="#!"
              role="button">
              <i class="fab fa-twitter me-2"></i>Sign up with Twitter</a>
  
          </form>
        </div>
      </div>
    </div>
</section>

