.divider:after,.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(0, 0, 0);
}
.vh-100{
    background-color:#1C1C1C ;
    width: 50rem;
    height: 30rem !important;
    border-radius: 10px;
}
.vh-100 label{
    color: gray; 
}
.log-in h5{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
.input-css{
    border: 1px solid gray;
}
