<div>
    <!-- Navbar -->
    <div class=" col-md-10 m-auto " style="margin-top: 1rem !important;">
    <app-navbar></app-navbar>
    </div>
  <!-- Navbar -->
    <div class="container style=" style=" background-color: #e5e5e5;">
        <div class="row" style="">
          <div class="col-8" style="margin-top: 1rem;">
            <router-outlet></router-outlet>
          </div>
          <div class="col" style="margin-top: 1rem;">
              <app-side-bar></app-side-bar>
          </div>
        </div>
      </div>
</div>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

