.table-size ul li a{
    color: white;
    }
.footer{
    background-color: #14213d;
    height: fit-content;
    padding: 2rem;
}
.footer div{
 color: white;
 text-align: center;
 margin-top: 1rem;
}

.navbarcss{
    margin-top: 1rem !important;
}

@media (max-width: 850px) {

    .navbarcss{
        margin-top: 0rem !important;
    }

}
@media (max-width: 500px) {

    .frame{
        width: 20rem;
    }

}
.frame{
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}
