<div>
    <!-- Navbar -->
    <div class=" col-xxl-11 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-auto navbarcss" >
    <app-navbar></app-navbar>
    </div>
  <!-- Navbar -->
    <div class="container " style=" background-color: #e5e5e5;">
        <div class="row" style="">
          <div  [ngClass]="{'col-xl-8 col-lg-12 col-md-12 ': !isHidden, 'col-xl-12 col-lg-12 col-md-12 col-12': isHidden}"  style="margin-top: 1rem;">
            <router-outlet></router-outlet>
          </div>
          <div *ngIf="!isHidden" class="col d-block  d-lg-block d-xl-block" style="margin-top: 1rem;">
            <app-filter [isQuickFilter]="true"></app-filter>
              <app-side-bar></app-side-bar>
              <iframe class="frame" src="https://discord.com/widget?id=983823906634887239&theme=dark" width="415" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
          </div>
        </div>
      </div>
  </div>

  <div class="col-12 footer">
    <div>The Animea site does not host any video files, either for streaming or downloads. This consists of an indexing of video links on various public and known hosts.</div>
    <div>Copyright © 2022 Animea Google</div>
    <div>No rights reserved</div>
  </div> 


  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

