.table-size ul li a{
    color: white;
    }
.footer{
    background-color: #14213d;
    height: fit-content;
    padding: 2rem;
}
.footer div{
 color: white;
 text-align: center;
 margin-top: 1rem;
}