<div class="filter-container" style="background-color: #1C1C1C;">
    <h3> Quick Filter</h3>
    <form #myForm="ngForm" (submit)="SearchAnimesByFilter(myForm)" novalidate>
                
    <div class="row ">
        <div class="col-6">
            <div class="labelFilter" (click)="onClickDrop(genreString)" (blur)="onBlurDrop(genreString)">
                Genre  <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!genreDropped">
                 <!--genres drop down-->
                <div class="">
                    <div class="">
                        <div class="form-check" *ngFor=" let genre of genres.slice(0,50)">
                            <input class="form-check-input" type="checkbox" value="{{genre.isActive}}" id="flexCheckDefault" (change)="changeGenre(genre)">
                            <label class="form-check-label" for="flexCheckDefault">
                            {{genre.title}}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- nd genres drop down-->
            </span>
            <div class="labelFilter"  (click)="onClickDrop(producerString)">
                Producers <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!producerDropped">
                <!--genres drop down-->
                <div class="row">
                    <div class="col-4">
                        <div class="container d-inline-block justify-content-left">
                            <div class="">
                                <div class="">
                                    <div class="form-check" *ngFor=" let item of producers.slice(0,33)">
                                        <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeGenre(item)">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        {{item.title.slice(0,20)}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="">
                            <div class="">
                                <div class="form-check" *ngFor=" let item of producers.slice(33,66)">
                                    <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeGenre(item)">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{item.title.slice(0,20)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="">
                            <div class="">
                                <div class="form-check" *ngFor=" let item of producers.slice(66,99)">
                                    <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeGenre(item)">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{item.title.slice(0,20)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- nd genres drop down-->
           </span>
            <div class="labelFilter" (click)="onClickDrop(yearString)">
                Years <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!yearDropped">
                <h3>Filter By Date between</h3>
                <!--genres drop down-->
                <label for="startDate" style="color:white">Start Date :</label>
                <input type="date" class="form-control" id="startDate" name="startDate"/>

                <label for="endDate" style="color:white">End Date :</label>
                <input type="date" class="form-control" id="endDate" name="startDate"/>
               <!-- nd genres drop down-->
           </span>
            <div class="labelFilter" (click)="onClickDrop(seasonString)">
                Seasons <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!seasonDropped">
                <!--genres drop down-->
               <div class="">
                   *this filter is needed to be used without the other ones
                   <div class="">
                    <div>
                        <input id="winter" type="radio" class="custom-control-input" value="winter" name="season" ngModel required>
                        <label class="custom-control-label" for="winter">Winter</label>
                     </div>
                     <div>
                        <input id="spring" type="radio" class="custom-control-input" value="spring" name="season" ngModel required>
                        <label class="custom-control-label" for="spring">Spring</label>
                     </div>
                     <div>
                        <input id="summer" type="radio" class="custom-control-input" value="summer" name="season" ngModel required>
                        <label class="custom-control-label" for="summer">Summer</label>
                     </div>
                     <div>
                        <input id="fall" type="radio" class="custom-control-input" value="fall" name="season" ngModel required>
                        <label class="custom-control-label" for="fall">Fall</label>
                     </div>
                       <input class="form-input" type="text" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Year</label>
                    </div>
               </div>
               <!-- nd genres drop down-->
           </span>
        </div>
        <div class="col">
            <div class="labelFilter" (click)="onClickDrop(statusString)">
                Status <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!statusDropped">
                <!--genres drop down-->
                <!-- Gender -->
                <div>
                    <input id="airing" type="radio" class="custom-control-input" value="default" name="status" ngModel required>
                    <label class="custom-control-label" for="airing">airing</label>
                 </div>
                 <div>
                    <input id="complete" type="radio" class="custom-control-input" value="title" name="status" ngModel required>
                    <label class="custom-control-label" for="complete">complete</label>
                 </div>
               <!-- nd genres drop down-->
           </span>
            <div class="labelFilter" (click)="onClickDrop(sortString)">
                Sort<fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!sortDropped">
                <!--genres drop down-->
                <!-- Gender -->
                <div>
                    <input id="default" type="radio" class="custom-control-input" value="default" name="sort" ngModel required>
                    <label class="custom-control-label" for="default">Default</label>
                 </div>
                 <div>
                    <input id="title" type="radio" class="custom-control-input" value="title" name="sort" ngModel required>
                    <label class="custom-control-label" for="title">Name A-Z</label>
                 </div>
                 <div>
                     <input id="score" type="radio" class="custom-control-input" value="score" name="sort" ngModel required>
                     <label class="custom-control-label" for="score">Score</label>
                  </div>
                  <div>
                     <input id="popularity" type="radio" class="custom-control-input" value="popularity" name="sort" ngModel required>
                     <label class="custom-control-label" for="popularity">Popularity</label>
                  </div>
                  <div>
                     <input id="episodes" type="radio" class="custom-control-input" value="episodes" name="sort" ngModel required>
                     <label class="custom-control-label" for="episodes">Episodes</label>
                  </div>
               <!-- nd genres drop down-->
           </span>
        </div>
        <button class="button-filter" type="submit">Filter <fa-icon [icon]="faFilter" style="margin-left: 0.5rem; "></fa-icon></button>
      </div>
    </form><!-- Form ends -->
</div>