<div [ngClass]="{'filter-container': isQuickFilter, 'filter-container-full': !isQuickFilter}" style="background-color: #14213d;">
    <h3>{{title}}</h3>
    <form #myForm="ngForm" (submit)="SearchAnimesByFilter(myForm)" novalidate>
                
    <div class="row ">
        <div class="col-6">
            <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}" (click)="onClickDrop(genreString)" (blur)="onBlurDrop(genreString)">
                Genre  <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span [ngClass]="{'dropdown-content-genre': isQuickFilter, 'dropdown-content-genre-full': !isQuickFilter}" [hidden]="!genreDropped" hidden="true">
                 <!--genres drop down-->
                <div class="">
                    <div class="">
                        <div class="form-check" *ngFor=" let genre of genres.slice(0,50)">
                            <input class="form-check-input" type="checkbox" value="{{genre.isActive}}" id="flexCheckDefault" (change)="changeGenre(genre)">
                            <label class="form-check-label" for="flexCheckDefault">
                            {{genre.title}}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- nd genres drop down-->
            </span>
            <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}"  (click)="onClickDrop(producerString)">
                Producers <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span [ngClass]="{'dropdown-content': isQuickFilter, 'dropdown-content-full': !isQuickFilter}" [hidden]="!producerDropped" hidden="true">
                <!--genres drop down-->
                <div class="row">
                    <div class="col-4">
                        <div class="">
                            <div class="">
                                <div class="">
                                    <div class="form-check" *ngFor=" let item of producers.slice(0,33)">
                                        <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeProducer(item)">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        {{item.title.slice(0,20)}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="">
                            <div class="">
                                <div class="form-check" *ngFor=" let item of producers.slice(33,66)">
                                    <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeGenre(item)">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{item.title.slice(0,20)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col 4">
                        <div class="">
                            <div class="">
                                <div class="form-check" *ngFor=" let item of producers.slice(66,99)">
                                    <input class="form-check-input" type="checkbox" value="{{item.isActive}}" id="flexCheckDefault" (change)="changeGenre(item)">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{item.title.slice(0,20)}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- nd genres drop down--> 
           </span>
            <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}"  (click)="onClickDrop(yearString)">
                Years <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span [ngClass]="{'dropdown-content-years': isQuickFilter, 'dropdown-content-years-full': !isQuickFilter}"  [hidden]="!yearDropped" hidden="true">
                <div  [ngClass]="{'date-container': isQuickFilter, 'date-container-full': !isQuickFilter}"> 
                <h2>Filter By Date between</h2>
                <!--genres drop down-->
                <label for="startDate" >Start Date :</label>
                <input type="date" class="" id="startDate" name="startDate"  ngModel required/>

                <label for="endDate" >End Date :</label>
                <input type="date" class="" id="endDate" name="endDate"  ngModel required/>
               <!-- nd genres drop down-->
            </div>
           </span>
           
        </div>
        <div class="col">
            <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}"  (click)="onClickDrop(statusString)">
                Status <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span [ngClass]="{'dropdown-content-statut': isQuickFilter, 'dropdown-content-statut-full': !isQuickFilter}" [hidden]="!statusDropped" hidden="true">
                <!--genres drop down-->
                <!-- Gender -->
                <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">

                    <input id="airing" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="airing" name="status" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="airing">Airing</label>
                 </div>
                 <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="complete" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="title" name="status" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="complete">Complete</label>
                 </div>
               <!-- nd genres drop down-->
           </span>
            <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}"  (click)="onClickDrop(sortString)">
                Sort<fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span  [ngClass]="{'dropdown-content-sort': isQuickFilter, 'dropdown-content-sort-full': !isQuickFilter}" [hidden]="!sortDropped" hidden="true">
                <!--genres drop down-->
                <!-- Gender -->
                <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="title" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="title" name="sort" ngModel required>
                    <label  [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="title">Name A-Z</label>
                 </div>
                 <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                     <input id="score" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="score" name="sort" ngModel required>
                     <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="score">Score</label>
                  </div>
                  <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                     <input id="popularity" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="popularity" name="sort" ngModel required>
                     <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="popularity">Popularity</label>
                  </div>
                  <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                     <input id="episodes" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="episodes" name="sort" ngModel required>
                     <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="episodes">Episodes</label>
                  </div>
               <!-- nd genres drop down-->
           </span>
           <div [ngClass]="{'labelFilter': isQuickFilter, 'labelFilter-full': !isQuickFilter}"  (click)="onClickDrop(seasonString)">
            Seasons <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
        </div>
        <span  [ngClass]="{'dropdown-content-season': isQuickFilter, 'dropdown-content-season-full': !isQuickFilter}" [hidden]="!seasonDropped" hidden="true">
            <!--genres drop down-->
           <div  [ngClass]="{'season-container': isQuickFilter, 'season-container-full': !isQuickFilter}" >
               <h2>*this filter is needed to be used without the other ones</h2>
               <div class="">
                <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="winter" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="winter" name="season" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="winter">Winter</label>
                 </div>
                 <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="spring" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}"  value="spring" name="season" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="spring">Spring</label>
                 </div>
                 <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="summer" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="summer" name="season" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="summer">Summer</label>
                 </div>
                 <div [ngClass]="{'form-radio': isQuickFilter, 'form-radio-full': !isQuickFilter}">
                    <input id="fall" type="radio" [ngClass]="{'custom-control-input': isQuickFilter, 'custom-control-input-full': !isQuickFilter}" value="fall" name="season" ngModel required>
                    <label [ngClass]="{'custom-control-label': isQuickFilter, 'custom-control-label-full': !isQuickFilter}" for="fall">Fall</label>
                 </div >

                 <div [ngClass]="{'year-container': isQuickFilter, 'year-container-full': !isQuickFilter}">
                    <label  [ngClass]="{'form-check-label-special': isQuickFilter, 'form-check-label-special-full': !isQuickFilter}"for="flexCheckDefault">Year -></label>
                   <input  [ngClass]="{'form-input-special': isQuickFilter, 'form-input-special-full': !isQuickFilter}" type="text" name="seasonYear" id="flexCheckDefault" ngModel required>
                </div>

                </div> 
           </div>
           <!-- nd genres drop down-->
       </span>
        </div>
        <div  [ngClass]="{'research-container': isQuickFilter, 'research-container-full': !isQuickFilter}">
           <input placeholder="Search..."  [ngClass]="{'form-input-researsh': isQuickFilter, 'form-input-researsh-full': !isQuickFilter}" type="text" name="search" id="flexCheckDefault" style="margin-top: 1rem;" ngModel required>
        </div >
        <div [ngClass]="{'button-filter-container': isQuickFilter, 'research-container-full': !isQuickFilter}">
        <button  [ngClass]="{'button-filter': isQuickFilter, 'button-filter-full': !isQuickFilter}" type="submit">Filter <fa-icon [icon]="faFilter" style="margin-left: 0.5rem; "></fa-icon></button>
        </div>
    </div>
    </form><!-- Form ends -->
</div>