.labelFilter
{
    background-color: #e5e5e5; 
    text-align: center; 
    width: 9rem; 
    padding-top: 0.2rem ;
    padding-bottom: 0.2rem ;
    border-radius: 10px;
    margin-left: 10%;
    color: black; 
    margin-top: 0.5rem;
}
.labelFilter:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
}
.form-check input:checked {
    background-color:#fca311;
    border-color: #fca311;
    }
    
.dropdown-content {
    position: absolute;
    width: 45rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content input{
    
  }
  .dropdown-content-season{
    position: absolute;
    width: 20rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-sort{
    position: absolute;
    width: 9rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-genre{
    position: absolute;
    width: 9rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-genre input{
  }
  .dropdown-content-statut{
    position: absolute;
    width: 9rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-years{
    position: absolute;
    width: 20rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .season-container h2{
      color: #fca311;
      margin-left: 1rem;
      font-size: 0.8rem;
      padding-top: 0.5rem;
  }
  
  .form-check:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
  }
  .form-radio:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
  }
  .form-radio label,input:hover{
    cursor: pointer;
  }
  .form-radio input[type="radio"]{
    accent-color:#fca311;
  } 
  .custom-control-input{
  }
  .custom-control-label{
      margin-left: 1rem;
  }
  .button-filter{
      width: 23rem;
      margin: auto;
      height: 4rem;
      border-radius: 10px;
      background-color: #fca311;
      font-size: 1.5rem;
      color: black;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border: none;
      margin-top: 1rem;
  }
  .button-filter:hover{
    background-color: #e5e5e5;
  }
  .filter-container{
      width: 85%;
      height: 21rem;
      border-radius: 10px;
      margin: auto;
  }
  .filter-container h3{
      color: white;
      font-size: 1.5rem;
      padding-left: 1.6rem;
      padding-top: 1rem;
  }
  .form-check-label-special{
    margin-left:1rem ;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    cursor: default;
  }
  .form-input-special {
    margin-left:1rem ;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    width: 14rem;
  }
  .form-input-special:hover{
      cursor: text;
  }
.year-container{
    border-top: 1px solid black;
    margin-top: 1rem;
}
.year-container input[type=text]:focus {
  border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
  .date-container label{
      width: 5rem;
      margin-left: 1rem;
  }
  .date-container input{
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .date-container h2{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
  }
  .date-container input:hover{
      cursor: text;
  }
  .date-container input[type=date]:focus {
    border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
.form-input-researsh{
  display: block;
  width: 23rem;
  margin: auto;
  border-radius: 10px;
  height: 3rem;
}
.research-container input:hover{
  cursor: text;
}
.research-container input[type=text]:focus {
  border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
.button-filter-container{
  display: block;
  margin: auto;
  text-align: center;
}




/* second filter */ 



.labelFilter-full
{
    display: block;
    background-color: #e5e5e5; 
    text-align: center; 
    width: 19.7rem; 
    padding-top: 0.2rem ;
    padding-bottom: 0.2rem ;
    border-radius: 10px;
    margin-left: 1.6rem;
    color: black; 
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.labelFilter-full:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
}
.form-check-full input:checked {
  background-color:#fca311;
  border-color: #fca311;
  }
.form-check-full label{
  margin-left: 0.5rem;
}
.dropdown-content-full {
    position: absolute;
    width: 45rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-season-full{
    position: absolute;
    width: 19.5rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-sort-full{
    position: absolute;
    width: 19.5rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-genre-full{
    position: absolute;
    width: 19.5rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-statut-full{
    position: absolute;
    width: 19.5rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .dropdown-content-years-full{
    position: absolute;
    width: 19.5rem;
    max-height: 90rem;
    z-index: 10;
    background-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    -ms-overflow-style: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .season-container-full h2{
      color: #fca311;
      margin-left: 1rem;
      font-size: 0.8rem;
      padding-top: 0.5rem;
  }
  
  .form-check-full:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
  }
  .form-radio-full:hover{
    background-color: #fca311;
    cursor: pointer;
    color: black;
  }
  .form-radio-full label,input:hover{
    cursor: pointer;
  }
  .form-radio-full input[type="radio"]{
    accent-color:#fca311;
  } 
  .custom-control-input-full{
    
  }
  .custom-control-label-full{
      margin-left: 1rem;
  }
  .button-filter-full{
      width: 19.7rem;
      margin: auto;
      height: 4rem;
      border-radius: 10px;
      background-color: #fca311;
      font-size: 1.5rem;
      color: black;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border: none;
      margin-top: 1rem;
      display: inline;
      margin-left: 1rem;
  }
  .button-filter-full:hover{
    background-color: #e5e5e5;
  }
  .filter-container-full{
      width: 46.5rem;
      height: 16.5rem;
      border-radius: 10px;
      margin: auto;
  }
  .filter-container-full h3{
      color: white;
      font-size: 1.5rem;
      padding-left: 1.6rem;
      padding-top: 1rem;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .form-check-label-special-full{
    margin-left:1rem ;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    cursor: default;
  }
  .form-input-special-full {
    margin-left:1rem ;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    width: 14rem;
  }
  .form-input-special-full:hover{
      cursor: text;
  }
.year-container-full{
    border-top: 1px solid black;
    margin-top: 1rem;
}
.year-container-full input[type=text]:focus {
  border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
  .date-container-full label{
      width: 5rem;
      margin-left: 1rem;
  }
  .date-container-full input{
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .date-container-full h2{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
  }
  .date-container-full input:hover{
      cursor: text;
  }
  .date-container-full input[type=date]:focus {
    border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
.form-input-researsh-full{
  width: 20rem;
  margin: auto;
  border-radius: 10px;
  height: 3rem;
}
.research-container-full{
  width: 22rem;
  display: inline;
  margin-left: 1.2rem;
}
.research-container-full input:hover{
  cursor: text;
}
.research-container-full input[type=text]:focus {
  border: 1px solid #fca311;
  outline: none !important;
  box-shadow: 0 0 5px #fca311;
}
.button-filter-container-full{
  display: inline;
  width: 20rem;
}
