<div style="background-color: red;">
    <h3>Filter</h3>
    <div class="row ">
        <div class="col-6">
            <div class="labelFilter" (click)="onClickDrop(genreString)" (blur)="onBlurDrop(genreString)">
                Genre  <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <span class="dropdown-content" [hidden]="!genreDropped">
                 <!--genres drop down-->
                <div class="row">
                    <div class="col-6">
                        <div class="form-check" *ngFor=" let genre of genres.slice(0,25)">
                            <input class="form-check-input" type="checkbox" value="{{genre.isActive}}" id="flexCheckDefault" (change)="changeGenre(genre)">
                            <label class="form-check-label" for="flexCheckDefault">
                            {{genre.title}}
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check" *ngFor=" let genre of genres.slice(25,50)">
                            <input class="form-check-input" type="checkbox" value="{{genre.isActive}}" id="flexCheckDefault" (change)="changeGenre(genre)">
                            <label class="form-check-label" for="flexCheckDefault">
                            {{genre.title}}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- nd genres drop down-->
            </span>
            <div class="labelFilter">
                Year <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
        </div>
        <div class="col">
            <div class="labelFilter">
                Status <fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
            <div class="labelFilter">
                Sort<fa-icon [icon]="faAngleDown" style="margin-left: 0.5rem; "></fa-icon>
            </div>
        </div>
        <button (click)="SearchAnimesByFilter()">test</button>
      </div>
</div>