<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'"  class="w-100 h-100">
  <mdb-carousel-item class="color-container" >
    <img  
      src="{{recommandationAnimes[0].image}}"
      class="d-block img-caroussel"
      style=""
      alt="..."
    />
    <div class="caroussel-info-body"> 
      <h5 (click)="goToAnimeFromCarousel(recommandationAnimes[0].title)">{{recommandationAnimes[0].title}}</h5>
      <p>{{recommandationAnimes[0].summary.slice(0,320) + " ..."}}</p>
      <button (click)="goToAnimeFromCarousel(recommandationAnimes[0].title)" class="button" >Watch Now</button>
    </div>
  </mdb-carousel-item >
    <mdb-carousel-item class="color-container"  *ngFor=" let item of recommandationAnimes.slice(1,recommandationAnimes.length)">
      <img  
        src="{{item.image}}"
        class="d-block img-caroussel"
        style="" 
        alt="..."
      />
      <div class="caroussel-info-body"> 
        <h5 (click)="goToAnimeFromCarousel(item)">{{item.title}}</h5>
        <p>{{item.summary.slice(0,320) + " ..."}}</p>
        <button (click)="goToAnimeFromCarousel(item.title)" class="button" >Watch Now</button>
      </div>
     
    </mdb-carousel-item >
  </mdb-carousel>