
.caroussel-info-body{
    display: flex !important;
    align-items: center !important;
   max-width: 100%;
   height: 25rem;
   align-items: center;
   margin: auto;
   border-radius: 10px;
   background-size: cover;
   background-position:center;
   background-color: black;
   background-repeat: no-repeat;
    background-color: #101010;
    overflow: hidden;
}
.caroussel-info-body h5{
    width: 10rem;
    text-align: center;
    margin-left: 1rem;
    background-image: url('https://animea.site/app/theme/assets/img/texture.webp');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip:text ;
    color: transparent;
    font-size: 3rem;
    
}
.caroussel-info-body h5:hover {
    color: #fca311;
    cursor: pointer;
}

@media (min-width: 401px) and (max-width: 501px) { 
    .caroussel-info-body p{
    display: none;
    }
    .img-caroussel{
        height: 10rem; 
        width: 100%;
    }
  }

  @media (max-width: 400px) { 
    .caroussel-info-body p{
        display: none;
        }
    .img-caroussel{
        height: 13rem; 
        width: 100%;
    }
  }
