
.caroussel-info-body{
    display: flex !important;
    align-items: center !important;
   max-width: 100%;
   height: 25rem;
   align-items: center;
   margin: auto;
   border-radius: 10px;
   background-size: cover;
   background-position:center;
   background-color: black;
   background-repeat: no-repeat;
   background-color: #101010;
   overflow: hidden;
}
.caroussel-info-body h5{
    color: #fff;
    font-size: 46px;
    line-height: 1.2;
    max-height: 134.4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 900;
    background: url('https://animea.site/app/theme/assets/img/texture.webp');
    background-repeat: repeat-x;
    background-position: 50% 50%;
    width: 60%;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    
}
.caroussel-info-body h5:hover {
    color: #fca311;
    cursor: pointer;
}

@media (min-width: 401px) and (max-width: 501px) { 
    .caroussel-info-body p{
    display: none;
    }
    .img-caroussel{
        height: 10rem; 
        width: 100%;
    }
  }

  @media (max-width: 400px) { 
    .caroussel-info-body p{
        display: none;
        }
    .img-caroussel{
        height: 13rem; 
        width: 100%;
    }
  }
