<!--
<div class="container mt-5">

    <div class="row  d-flex justify-content-center">

        <div class="col-md-8">

            <div class="headings d-flex justify-content-between align-items-center mb-3">

                <div class="buttons">

                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                          
                        </div>
                    </span>
                     
                </div>
                
            </div>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" style="color:white" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                </div>
                <button type="button" class="btn btn-info" (click)="PostComment()">POST</button>
            </form>
            <div class="card p-3 mt-2" *ngFor=" let comments of commentTabs">
                <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <span><small class="font-weight-bold text-primary">{{comments.username}}</small> <small style="margin-left: 2rem ;" class="font-weight-bold">{{comments.comment}}</small></span>                  
              </div>
              <small>{{comments.date}}</small>
              </div>
              <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="icons align-items-center">
                    <i class="fa fa-check-circle-o check-icon text-primary"></i>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> 
-->
<div class="container " style="margin-bottom:2rem ; margin-top: 2rem;" >
  <div class="row" >
    <div class="col-md-12 " style="background-color:#14213d; border-radius: 5px;">
    <form>
      <h3 class="pull-left">New Comment</h3>
        <fieldset>
            <div class="row" style="margin-top: 0.5rem;" >
                <div class="form-group col-xs-12 col-sm-12 col-lg-12" style="margin:auto;">
                    <textarea class="form-control" id="message" placeholder="Your message" required="" style="height: 4rem;" name="comment" [(ngModel)]="comment"></textarea>
                </div>
            </div>  	
        </fieldset>
        <button type="button" class="btn btn-normal pull-right" (click)="PostComment()" [disabled]="">Submit</button>
    </form>

    <h3 class="comment">{{commentTabs.length}} Comments</h3>


          <div class="media g-mb-30 media-comment" *ngFor=" let comment of commentTabs" >
              <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                  <h5 class="h5 g-color-yellow-v1 mb-0">{{comment.username}}</h5>
                  <span class="g-color-gray-dark-v4 g-font-size-12">{{comment.date.slice(4,21)}}</span>
                </div>
                <p>{{comment.comment}}</p>
              </div>
          </div>
      </div>
  </div>