<!--
<div class="container mt-5">

    <div class="row  d-flex justify-content-center">

        <div class="col-md-8">

            <div class="headings d-flex justify-content-between align-items-center mb-3">

                <div class="buttons">

                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                          
                        </div>
                    </span>
                     
                </div>
                
            </div>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" style="color:white" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" name="comment" [(ngModel)]="comment"></textarea>
                </div>
                <button type="button" class="btn btn-info" (click)="PostComment()">POST</button>
            </form>
            <div class="card p-3 mt-2" *ngFor=" let comments of commentTabs">
                <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <span><small class="font-weight-bold text-primary">{{comments.username}}</small> <small style="margin-left: 2rem ;" class="font-weight-bold">{{comments.comment}}</small></span>                  
              </div>
              <small>{{comments.date}}</small>
              </div>
              <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="icons align-items-center">
                    <i class="fa fa-check-circle-o check-icon text-primary"></i>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="container " style="margin-bottom:2rem ; margin-top: 2rem;" >
  <div class="row" >
    <div class="col-md-12 " style="background-color:#14213d; border-radius: 5px;">
    <form>
      <h3 class="pull-left">New Comment</h3>
        <fieldset>
            <div class="row" style="margin-top: 0.5rem;" >
                <div class="form-group col-xs-12 col-sm-9 col-lg-10" style="margin:auto;">
                    <textarea class="form-control" id="message" placeholder="Your message" required="" style="height: 4rem;"></textarea>
                </div>
            </div>  	
        </fieldset>
        <div class="button">
        <button type="submit" class="btn btn-normal pull-right" >Submit</button>
      </div>
    </form>

    <h3 class="comment">4 Comments</h3>


          <div class="media g-mb-30 media-comment">
              <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                  <h5 class="h5 g-color-gray-dark-v1 mb-0">John Doe</h5>
                  <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>
                </div>
          
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                  felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          
                <ul class="list-inline d-sm-flex my-0">
                  <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                      178
                    </a>
                  </li>
                  <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                      34
                    </a>
                  </li>
                  <li class="list-inline-item ml-auto">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                      <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                      Reply
                    </a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>